<%= form_for(@room) do |f| %>

  <% if @room.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@room.errors.count, "error") %> prohibited this meeting from being saved:</h2>
    <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: 'label'  %>
    <div class="control">
      <%= f.text_field :name, class: "input"  %>
    </div>
  </div>

  <div class="field">
    <div class="select">
    <%= f.select :status, Room.statuses.keys.map {|s| [s.titleize, s]} %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit class: 'button is-primary' %>
      <%= link_to 'Back', rooms_path, class: 'button' %>
    </div>
  </div>

<% end %>
